# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environments
venv/
.env/
.env.* 
.venv/

# VSCode / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Project-specific
*.pdf
quiz_output.txt
.env
*.png
seg_test
seg_train
seg_pred
Week6_Lab/spambase.csv
Week6_Lab/set_train
